#home {
  background-image: url("./images/bg_header.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  
}
.navbar-brand div{
  width: 150px;
}

.navbar-brand p{
  margin-bottom: 0;
  font-size: 30px;
  padding-top: 3px;
}
.border-about{
  border: 1px solid white;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}




.gros-titre {
  font-size: 80px;
}

.petit-titre {
  font-size: 50px;
}

#about {
  background-image: url(./images/bg_nuage.jpg);
  background-size: cover;
  background-position: center;
}

.velo {
  height: 65vh;
  width: auto;
}

.borderAbout {
  border: 1px;
}

#history {
  background-image: url(./images/bg_appareil_photo.jpg);
  background-size: cover;
  background-position: center;
}

#photos {
  background-color: gray;
}




